<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  name: "NavToolbar",
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      menuOpen: false,
      items: [
        {
          title: "Personal",
          link: "#",
        },
        {
          title: "Programming",
          link: "#",
        },
        {
          title: "Contact",
          link: "#",
        },
      ],
    };
  },
  methods: {
    toggleMenu(e) {
      this.menuOpen = !this.menuOpen;
    },
  },
  computed: {
    itemClass: function() {
      return this.menuOpen ? "item active" : "item";
    },
    menuIcon: function() {
      return this.menuOpen ? "times" : "bars";
    },
  },
};
</script>
<template>
  <nav>
    <ul>
      <li v-for="item in items" :class="itemClass">
        <a :href="item.link">{{ item.title }}</a>
      </li>
      <li @click="toggleMenu">
        <a href="#">
          <font-awesome-icon :icon="menuIcon" />
        </a>
      </li>
    </ul>
  </nav>
</template>
<style scoped>
/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  /* background: #222; */
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
a:hover {
  color: 4d5632;
  text-decoration: none;
}
ul li {
  font-size: 20px;
  padding: 15px 5px;
  white-space: nowrap;
}
.avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  filter: drop-shadow(0 0 1px #222);
}

/* Mobile menu */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
li:last-of-type {
  order: 1;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
  ul {
    justify-content: center;
  }
  li:last-of-type {
    flex: 1;
    text-align: right;
  }
  li:last-of-type {
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  li:last-of-type {
    display: none;
  }
  .item {
    order: 1;
  }
  ul li {
    padding: 15px 10px;
  }
}
</style>
