<script>
import NavToolbar from "../components/nav_toolbar.vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faBars, faTimes } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faBars, faTimes);

export default {
  components: {
    NavToolbar,
  },
};
</script>

<template>
  <div class="theme-container">
    <header class="header">
      <nav-toolbar />
      <div class="overlay">
        <div class="title">Brandon Labuschagne | Frontend Engineer</div>
      </div>
    </header>
  </div>
</template>
<style>
body {
  margin: 0;
}

.header {
  background: url("/lights.jpg");
  min-height: 750px;
  background-size: cover;
}

.overlay {
  position: relative;
  height: 650px;
  width: 100%;
  background-color: #15190b;
  opacity: 0.9;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.title {
  color: white;
  position: relative;
  top: 290px;
  text-align: center;
  font-size: 60px;
}
</style>
